* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: rgb(58, 4, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container{
    width: 320px;
    background: linear-gradient(180deg, #1e3c72, #2a5298);
    padding: 25px;
    border-radius: 10px;
    color: white;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
}

.terms{
    display: flex;
    /* padding: 10px; */
    margin-bottom: 15px;
    font-size: 12px;
}

.terms input{
    margin-right: 10px;
}

button{
    display: block;
    width: 100px;
    padding: 10px;
    background: #6ac045;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: auto;
}

button:hover{
    background: #6673e0;
}